# builds 
dist
build

# env
.env
.env.local
.env.production

# node modules
node_modules

# config
server/config.ts
client/src/config.ts

server/public/citizen-images/*
server/public/bleeter-images/*

.DS_Store

.eslintcache

.vscode

data.json
.idea/deployment.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/snaily-cadv3.iml
.idea/vcs.xml
package-lock.json
server/config.example.ts
package-lock.json
server/config.example.ts
client/src/language.json
client/src/language.json
